* {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Opens Sans', helvetica;
    height: 100%;
    width: 100%;
    margin: 0px;
    /*background-color: #242424;*/
    /*background-color: #73F600;*/
    background-color: #e5e8e8;
}

.reglacabeza {
    /*outline: 2px black solid;*/
    background-color: rgb(71, 71, 70);
    width: 100%;
    padding: 10px 0px;
}

.nombrecabeza,
.nombrecabeza2 {
    display: inline-block;
    vertical-align: top;
}

.nombrecabeza {
    /*outline: 2px yellow solid;*/
    width: 15%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fff;
    margin-left: 12%;
}

.nombrecabeza2 {
    /*outline: 2px yellow solid;*/
    width: 15%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fff;
    margin-left: 40%;
}

.nombrecabeza2 b {
    color: rgb(135, 184, 37);
}

.icon-text-document,
.icon-mail {
    color: rgb(135, 184, 37);
}

.portada {
    /*background: url(img/fondo.png) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    /*outline: 2px red solid;*/
    height: 100%;
    width: 100%;
}

.portada figure {
    /*outline: 2px red solid;*/
    width: 100%;
    text-align: center;
}


/*-------------------------------------menu-------------------*/

header {
    /*outline: 2px red solid;*/
    margin: 0 auto;
    width: 59.5%;
    height: 200px;
    /*background-color: red;*/
}

div.contenedor {
    width: 200px;
    height: 200px;
    float: left;
    -webkit-transition: height .4s;
}

div#tres {
    /*background-color: rgb(22, 145, 190);*/
    background-color: rgb(71, 71, 70);
}

div#tres:hover {
    background-color: rgb(135, 184, 37);
}

div#cuatro {
    /*background-color: rgb(27, 54, 71);*/
    background-color: rgb(158, 187, 59);
}

div#cuatro:hover {
    background-color: rgb(135, 184, 37);
}

div#cinco {
    background-color: rgb(71, 71, 70);
}

div#cinco:hover {
    background-color: rgb(135, 184, 37);
}

div#seis {
    /*background-color: rgb(27, 54, 71);*/
    background-color: rgb(158, 187, 59);
}

div#seis:hover {
    background-color: rgb(135, 184, 37);
}

.icon {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    /*background-color: rgba(255, 255, 255, .15);*/
    width: 50px;
    /*padding: 20px;*/
    /*-webkit-border-radius: 50%;*/
    -webkit-box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0);
    -webkit-transition: box-shadow .4s;
    /*outline: 2px red solid;*/
}

p.texto {
    font-size: 1.2em;
    color: white;
    text-align: center;
    padding-top: 10px;
    opacity: .6;
    -webkit-transition: padding-top .4s;
}

div.contenedor:hover {
    height: 220px;
}

div.contenedor:hover p.texto {
    padding-top: 30px;
    opacity: 1;
}

div.contenedor:hover .icon {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, .6);
}


/*----------------------------------fin del menu---------------------------*/


/*-----------------------footer-----------------*/

footer {
    /*outline: 2px red solid;*/
    width: 100%;
    margin-top: 2%;
    height: 50px;
    overflow: hidden;
    background-color: rgb(71, 71, 70);
}

.pie {
    /*outline: 2px red solid;*/
    width: 40%;
    margin-top: 1%;
    margin-left: 5%;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: white;
}

footer b {
    color: rgb(135, 184, 37);
}


/*-----------------------------contactanos---------------*/

.header {
    width: 100%;
    /*outline: 2px red solid;*/
    background-color: rgb(158, 187, 59);
    height: 62px;
}

.header nav {
    /*outline: 2px red solid;*/
    width: 70%;
    margin: 0 auto;
}

.header nav ul {
    /*outline: 2px black solid;*/
    width: 100%;
}

.header nav ul li {
    border-right: 2px #474746 solid;
    width: 22%;
    display: inline-block;
    /*margin-left: 3%;*/
    text-decoration: none;
    list-style: none;
    padding: 20px;
    text-align: center;
}

.header nav ul li a {
    /*outline: 2px green solid;*/
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bold;
}

.header nav ul li:hover {
    background-color: rgb(135, 184, 37);
}

.header nav ul .active {
    background-color: rgb(135, 184, 37);
    /*border-radius: 5px;*/
    color: #FFF;
}

.contacto {
    /*outline: 2px red solid;*/
    width: 100%;
    text-align: center;
    color: #5f6a6a;
    margin-top: 2%;
}

.textoconta {
    /*outline: 2px red solid;*/
    width: 50%;
    margin: 0 auto;
    margin-top: 1%;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

#contacto {
    /*border: 2px yellow solid;*/
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
    /*margin-left: 5%;*/
    margin-top: 2%;
}

.ema {
    /*border: 2px yellow solid;*/
    font-size: 16px;
    font-family: helvetica;
    font-weight: bold;
}

.emai:focus {
    border: 2px solid #2DE1CE;
    outline: 0px;
    -webkit-box-shadow: -1px 2px 26px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 26px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 26px -4px rgba(0, 0, 0, 0.75);
}

.emai {
    height: 30px;
    border-radius: 5px;
    /*border: .5px solid #504C4C;*/
    margin-top: 1%;
    border: 1px solid #ccc;
    width: 99%;
    -webkit-box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, .075);
    box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input::-webkit-input-placeholder {
    color: #747474;
    padding-left: 5px;
    /*text-align: center;*/
}

input:-moz-placeholder {
    color: #747474;
    padding-left: 5px;
    /*margin-left: 15px;*/
}

input:-ms-input-placeholder {
    color: #747474;
    padding-left: 5px;
    /*margin-left: 15px;*/
}

.enviar {
    /*border: 2px solid red;*/
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(158, 187, 59);
    padding: 15px;
    border-radius: 5px;
    width: 40%;
    margin-bottom: 3%;
    border: 0px;
    float: right;
}

.enviar:hover {
    background: #4b4a4d;
}

.der {
    /*border: 2px black solid;*/
    width: 50%;
    float: right;
    /*margin-left: 2%;*/
    padding: 3% 0px 3% 3%;
}

.izq {
    /*border: 2px black solid;*/
    width: 43%;
    padding: 3% 3% 3% 0px;
    float: left;
}

#cote {
    /*border: 2px solid red;*/
    overflow: hidden;
}

#areac {
    border-radius: 5px;
    box-sizing: border-box;
}

#areac:focus {
    height: 100px;
}

#enviar2 {
    margin-top: 3%;
    width: 30%;
}

.mapa {
    /*outline: 2px red solid;*/
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.mapa iframe {
    width: 100%;
}

.datos {
    /*outline: 2px red solid;*/
    margin-top: 2%;
    width: 100%;
}

.direc,
.tel,
.hor,
.cor {
    /*outline: 2px yellow solid;*/
    width: 20%;
    display: inline-block;
    margin-left: 4%;
    vertical-align: top;
}

.text_datos {
    /*outline: 2px red solid;*/
    width: 100%;
    text-align: center;
    color: #5f6a6a;
    font-weight: bold;
}

.text_datosd {
    margin-top: 1%;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}
